[:svg {:viewBox "0 0 200 200"
       :xmlns "http://www.w3.org/2000/svg"}
 ;; 바깥 원형 테두리
 [:circle {:cx 100
           :cy 100
           :r 90
           :fill "white"
           :stroke "black"
           :stroke-width 10}]

 ;; 윗방향 T
 [:rect {:x 95 :y 50 :width 10 :height 45 :fill "black"}]
 [:rect {:x 85 :y 50 :width 30 :height 10 :fill "black"}]

 ;; 오른쪽 방향 T
 [:rect {:x 105 :y 95 :width 45 :height 10 :fill "black"}]
 [:rect {:x 140 :y 85 :width 10 :height 30 :fill "black"}]

 ;; 아래쪽 방향 T
 [:rect {:x 95 :y 105 :width 10 :height 45 :fill "black"}]
 [:rect {:x 85 :y 140 :width 30 :height 10 :fill "black"}]

 ;; 왼쪽 방향 T
 [:rect {:x 50 :y 95 :width 45 :height 10 :fill "black"}]
 [:rect {:x 50 :y 85 :width 10 :height 30 :fill "black"}]]