{:enums
 {:episode {:description "The episodes of the original Star Wars trilogy."
            :values      [:NEWHOPE :EMPIRE :JEDI]}}

 :interfaces
 {:character {:fields {:id         {:type String}
                       :name       {:type String}
                       :appears_in {:type (list :episode)}
                       :friends    {:type (list :character)}}}}

 :objects
 {:human {:implements [:character]
          :fields     {:id          {:type String}
                       :name        {:type String}
                       :appears_in  {:type (list :episode)}
                       :friends     {:type    (list :character)
                                     :resolve :friends}
                       :home_planet {:type String}}}}

 :queries
 {:hero {:type    (non-null :character)
         :args    {:episode {:type :episode}}
         :resolve :hero}}}